body {
    padding: 0;
    margin: 0;
    background: #FFECEC;
}
.navbar {
    background:#E3BFBF;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 1em !important;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}