body {
    padding: 0;
    margin: 0;
    background: #ffecec;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    min-height: 100vh;
}

.navbar {
    background: #e3bfbf;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 1em;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    color: #deb9b8;
}

.navbar-collapse {
    justify-content: flex-end;
}

.card {
    margin: 100px auto 0;
    width: 500px;
    height: 307px;
    border-radius: 40px;
    background-color: #ffecec;
    border-style: hidden;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-inner.is-flipped {
    transform: rotateX(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 20px 20px #e3bfbf;
}

.card-face-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card-face-front p {
    font-size: 20px;
    text-align: center;
}

.card-face-back {
    background-color: white;
    transform: rotateX(180deg);
}

.card-content {
    width: 100%;
    height: 100%;
}

.card-header {
    position: relative;
    padding: 30px 30px 40px;
    background-color: white;
    border-style: hidden;
    align-content: center;
}

.card-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
}

.card-header-front {
    height: 70%;
}

.info-card-front-img {
    border-radius: 50%;
    width: 40%;
    height: 100;
    margin: auto;
}