body {
    padding: 0;
    margin: 0;
    background: #ffecec;
    font-family: 'Inconsolata', monospace;
}
.navbar {
    background:#e3bfbf;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 1em;
}
.nav-link {
    margin-right: 1em;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}